@import "variables";

// Lazy loading of images. See /js/site.js for more
.notloaded {
    opacity: 0;
    transform: scale(.9);
}

.loaded {
    background: none;
    opacity: 1;
    transform: scale(1);
    transition: all 100ms ease-in;
    // Don't animate when the reduced motion accessibility option
    // has been enabled in the browser or OS. Safari is supporting this
    @media screen and (prefers-reduced-motion: reduce) {
        transition: none;
    }
}

noscript p {
    background-color: crimson;
    line-height: 2em;
    padding: 0 10px;
    color: white;
    font-size: .9em;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

iframe {
    display: block;
    margin: 0 auto;
    min-height: 170px;
    border: 0;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
}

.alignleft, .alignright {
    float: left;
    margin: 5px 20px 10px 0;
}

.wp-caption {
    max-width: 100%;
}

.wp-caption p.wp-caption-text {
    font-size: 13px;
    line-height: 17px;
    margin: 0 0 10px;
}

.wp-caption-text {
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
    padding: 10px;
    font-family: Raleway,Arial,sans-serif;
}

.post > div ul {
    li {
        text-indent: 0;
    }

    li:before {
        content: " ";
        margin-right: 0;
    }
}

.categories {
    list-style: none;
    display: inline;
    padding: 0;
    vertical-align: top;

    li {
        display: inline-block;
        /*margin-right: 5px;*/
        &:not(:first-child):not(:last-child):after {
            content: ", ";
        }
    }

    .cat-count {
        color: #aaa;
        background-color: #555;
        font-weight: bold;
        padding: 5px 5px 4px 5px;
        margin: 0 5px;
    }
}

.socialsharing {
    text-align: center;
    margin-bottom: 50px;

    a {
        display: inline-block;
        padding: 0 .5em 2em .5em;
    }

    path {
        fill: gray;
    }

    svg {
        width: 24px;
        height: 24px;
    }
}

.pagination {
    padding-bottom: 2em;
    margin-top: 1em;

    a {
        border: 1px solid $comments_input_border-color;
        background: $comments_bg_color;
        color: $text_color;
        display: inline-block;
        padding: 4px 15px;
        text-decoration: none;

        &[rel=next] {
            float: right;
        }

        &:hover,
        &:focus {
            background: $comments_border-color;
        }
    }
}

.sitefooter {
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $dark_footer_bg;
    color: white;
    min-height: $footer_height;
    font-size: .9em;

    .container {
        margin: 1em auto;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            display: inline-block;
        }

        .categories {
            min-width: 33%;
            margin-bottom: 10px;

            h3 {
                width: 100%;
                padding-bottom: 5px;
                border-bottom: 3px solid $accent_color;
                display: inline-block;
            }

            li {
                background-color: #444;
                padding: 7px 1px 5px 7px;
                margin: 7px 4px 7px 0;
                font-size: 13px !important;
                text-transform: capitalize;
                font-family: Roboto Condensed,sans-serif;

                a {
                    text-decoration: none;
                }

                &:not(:first-child):not(:last-child):after {
                    content: "";
                }
            }

            li.build-version {
                text-transform: none;
                background: none;

                table {
                    td:first-child {
                        text-align: right;
                    }
                }
            }

            .signin {
                li {
                    padding-right: 7px;
                }
            }
        }
    }

    a {
        color: white;
    }

    p {
        position: absolute;
        bottom: .5em;
        left: 0;
        text-align: center;
        width: 100%;
        font-size: .9em;
    }
}

@media print {
    @page {
        margin: 2cm;
    }

    body {
        color: #000;
        background: #fff;
        font: 12pt/1.5 Calibri, serif;
        -webkit-print-color-adjust: exact;
    }

    nav, aside, footer, #comments, [data-src], .video {
        display: none;
    }

    article {
        page-break-after: always;
    }

    h1, h2, h3, h4, h5, h6, img {
        page-break-after: avoid;
        page-break-inside: avoid
    }

    blockquote, table, pre {
        page-break-inside: avoid;
    }

    ul, ol, dl {
        page-break-before: avoid
    }

    .post pre {
        background: none;
        border: none;
        box-shadow: none;
        font-family: monospace;
    }

    a[href^="http"]:after, a[href^="//"]:after {
        content: " <" attr(href) "> ";
    }
}


table.login-status {
    border-collapse: collapse;
    word-break: break-word;
    margin-top: 15px;


    td {
        word-break: break-word;
        vertical-align: top;

        code {
            margin: 0;
            padding: 0;
            vertical-align: top;
        }
    }

    thead {
        td {
            margin: 0;
            padding: 0;
            font-weight: bold;
            border-bottom: solid 1px #bbb;
        }
    }

    tbody {
        td {
            padding: 5px;
        }
    }

    td:first-child {
        width: 25%;
    }
}

ul.post-list {
    margin: 15px 0;

    li {
        padding: 5px 0;
    }
}

code.error {
    background-color: #efefef;
    padding: 5px;
}

.error-page {
    padding: 15px 0;
}

h3.error-path {
    margin: 15px 0;
}

.searchbox {
    width: 75%;
    border: none;
    border-bottom: 1px solid #888;
    color: #444;
    background-image: url(/img/search.svg);
    background-position: left;
    background-size: auto;
    padding: 5px 5px 5px 30px;
    margin: 10px 0;
    font-size: 30px;
    background-repeat: no-repeat;
    margin: 10px 0;
    font-size: 30px;

    &:focus {
        outline: none;
    }
}

.search-results {
    h1 {
        margin-top: 0.5em;
    }

    .results-list {
        padding: 1em 0 0 0;
        list-style: none;
        max-width: 75%;

        li {
            padding: 0 15px 0 0;
            margin: 0 0 15px 0;
        }
    }
}

.upload-file {
    padding: 15px;
    background-color: $comments_bg_color;

    input[type=file] {
        width: 100%;
        height: 50px;
        border: 1px dashed $comments_input_border-color;
        background-color: $comments_border-color;
        padding: 15px;
    }

    .img-upload-preview {
        max-width: 150px;
    }
}

@media only screen and (max-width : 700px) {
    .searchbox {
        width: 100%;
    }

    .search-results {
        .results-list {
            max-width: 100%;
        }
    }
}

.copyright {
    margin: 0 0 15px 0;
    padding-top: 15px;
    text-align: center;
}

ol.image-list, ul.image-list {
    padding: 0;
    margin: 0 auto;
    width: 100%;

    h3 {
        margin: 1em;
        cursor: pointer;
    }

    li {
        list-style: none;
    }

    ul {
        transition: max-height 0.2s ease-out;
        overflow: hidden;
        max-height: 100%;
    }

    ul.slide-hidden {
        max-height: 0;
    }


    ol, ul {
        li {
            display: inline-block;
            position: relative;
            vertical-align: top;
            width: 30%;
            margin: 1%;
            text-align: center;

            div {
                width: 100%;
                overflow-wrap: break-word;
            }

            img {
                max-width: 100%;
            }
        }

        li:hover {
            background-color: #eee;
        }
    }

    .delete-image {
        position: absolute;
        display: inline-block;
        width: 50px;
        top: 15px;
        right: 15px;
        background-color: $comments_bg_color;
        padding: 10px;
        opacity: 0.9;
        cursor: pointer;

        a {
            color: $comments_input_border-color;
            text-decoration: none;
        }
    }
}

section#comments .container {
    max-width: 75%;
    margin: 0 auto;
}

.commento-root {
    .commento-avatar {
        display: none !important;
    }

    .commento-name, .commento-subtitle {
        margin-left: 0 !important;
    }

    .commento-card {
        border-left: unset !important;
    }

    .commento-body {
        padding-bottom: 5px;
    }

    .commento-card {
        padding-top: 0 !important;
        border-top: none !important;

        * {
            font-size: unset !important;
        }
    }

    .commento-anonymous-checkbox-container {
        margin-top: 9px;
        margin-bottom: 9px;
    }

    pre, code {
        white-space: pre-line;
        font-family: inherit;
    }
}

.author-detail {
    margin: 25px 0;
    padding: 25px 0;
    background: #f7f7f7;
    border: 1px solid #dee2e6;

    p {
        margin: 0.3em !important;
    }

    a {
        color: $link_color !important;
        border: none !important;
    }

    .author-left {
        text-align: center;

        img {
            max-width: 200px;
        }
    }

    .author-right {
        h3 {
            margin: 0 0 8px 0;
        }

        @media (min-width: 1200px) {
            padding: 0;

            .container {
                padding: 0;
            }
        }
    }
}
