@import "variables";

.commento-root {
    .commento-avatar {
        display: none !important;
    }

    .commento-name, .commento-subtitle {
        margin-left: 0 !important;
        left: 0 !important;
    }

    .commento-card {
        border-left: unset !important;
    }

    .commento-body {
        padding-bottom: 5px;
    }

    .commento-card {
        padding-top: 0 !important;
        border-top: none !important;

        * {
            font-size: unset !important;
        }
    }

    .commento-markdown-button {
        color: $link_color;
    }

    .commento-login {
        .commento-login-text {
            color: inherit;
        }
    }

    .commento-anonymous-checkbox-container {
        margin-top: 9px;
        margin-bottom: 9px;
    }

    pre, code {
        white-space: pre-line;
        font-family: inherit;
    }
}
