@model Author

<div class="author-detail">
    <div class="row">
        <div class="author-left col-lg-3">
            <img src="@Model.ImageUrl" alt="@Model.Name" class="img-thumbnail" />
        </div>
        <div class="author-right col-lg-8">
            <div class="container">
                <div class="row">
                    <div class="about-author">About @Model.Name</div>

                    @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
    </div>
</div>