<nav class="container" aria-label="Pagination">

    <h1>@ViewData["ErrorCode"] Oops. That Didn't Work as Planned.</h1>

    <div class="error-page">
        @if (!string.IsNullOrWhiteSpace(ViewData["ErrorCodeName"] as string))
        {
            <p><code class="error">@ViewData["ErrorCodeName"]</code> This isn't recoverable at the moment.</p>
        }
    </div>
</nav>