@model IEnumerable<ImageFile>
@inject IOptionsSnapshot<BlogSettings> settings

@functions {
    private static string ExtractFolder(string url)
    {
        var lastIndex = url.LastIndexOf('/');

        return url.Substring(0, lastIndex);
    }
}

<ul class="image-list">
    @foreach (var folder in Model.GroupBy(i => ExtractFolder(i.Url)))
    {
        <li>
            <h3>@folder.Key</h3>
            <ul>
                @foreach (var image in folder)
                {
                    <li>
                        <a href="@image.Url" target="_blank">
                            <img src="#" data-src="@image.Url" />
                        </a>
                        <div>@image.Url.Substring(folder.Key.Length + 1)</div>
                    </li>
                }
            </ul>
        </li>
    }
</ul>