@model IEnumerable<Post>

<nav class="container" aria-label="Pagination">

    <h1>404 Oops. That Disappeared.</h1>

    <h4>Do any of these help?</h4>

    <ul class="post-list">
        @foreach (var post in Model)
        {
            <li>
                <a href="@post.GetLink()">@post.Title</a>
                <div>@post.Excerpt</div>
            </li>
        }
    </ul>

</nav>